/** body **/

body {
  font-family: 'Open Sans', sans-serif;
}

/** header **/

header {
  background-color: #246080;
  height: 50px;
  padding: 0 15px;
}

header nav li {
  display: inline-block;
  /*background-color: magenta;*/
  /*padding: 17px;*/
  /*color: white;*/
}

header nav a {
  display: inline-block;
  padding: 17px;
  color: white;
  text-decoration: none;
}

header nav a:hover {
  background-color: #FFFFFF;
  color: black;
}

.headernavleft {
  float: left;
  /*font-size: 20px;*/
}

.headernavright {
  float: right;
}

/** hero **/

#hero {
  background: url('../images/enterprise.jpg') no-repeat;
  background-size: cover;
  text-align: center;
  padding: 50px 0;
  margin-bottom: 50px;
  color: white;
}

#hero img {
  display: block;
  margin: auto;
  border-radius: 50%;
  border: 5px solid #246080;
}

#hero h2 {
  font-size: 30px;
  margin: 10px;
}

.card {
  margin: 20px;
}

.card h3 {
  font-size: 125%;
  margin-bottom: 15px;
  color: #246080;
}

.card article h4 {
  font-size: 115%;
  margin-top: 10px;
}

.card article p {
  margin-top: 5px;
}

/* footer */

footer {
  background-color: #246080;
  height: 75px;
  padding: 0 15px;
}

footer p {
  display: inline-block;
  float: left;
  color: white;
  padding: 20px;
  /*text-indent: 0px;*/
}

footer nav {
  float: right;
  /*background: magenta;*/
}

footer nav li {
  display: inline-block;
  /*padding: 17px;*/
  color: white;
}

footer nav li a {
  /*display: inline-block;*/
  /*padding: 17px;*/
  color: white;
}

footer nav a {
  color: white;
  display: inline-block;
  padding: 20px;
}

footer nav a:hover {
    background-color: #FFFFFF;
    /*background: url('../icons/twitter.svg') no-repeat;*/
}

.twitterlink {
  display: block;
  /*width: 100px;
  height: 100px;*/
  background: url('./icons/twitter.svg') bottom;
  /*text-indent: -99999px;*/
}
.twitterlink:hover {
  background-position: 0 0;
}
